<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<bean
		class="org.jboss.resteasy.plugins.spring.SpringBeanProcessorServletAware" />


	<!-- to activate annotations in beans already registered in the ApplicationContext -->
	<context:annotation-config />
    <context:component-scan base-package="com.resteasy.series.spring.security" />

	<!-- scans packages to find and register beans within the application context -->
	<context:component-scan base-package="com.reni" />

		<!-- dataSource configuration -->
	<!-- TODO properties configuration should be move to properties file -->
	<!-- local
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/reni" />
		<property name="username" value="root" />
		<property name="password" value="Sahas$23" />
	</bean> -->
	
	<!-- server -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://mysqldb2.alphacloud.in:3306/femadb" />
		<property name="username" value="femaDB_samba" />
		<property name="password" value="2D9F4D16" />
	</bean> 

	<bean class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate"
		id="namedParameterJdbcTemplate">
		<constructor-arg ref="dataSource" /> 
	</bean>
	
</beans>