<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:security="http://www.springframework.org/schema/security"    
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
                
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security.xsd">
	
	<!-- Stateless RESTful services use BASIC authentication -->
   <security:http create-session="stateless" pattern="/**">
        <security:intercept-url pattern="/**" access="ROLE_REST"/>
        <security:http-basic/>
    </security:http> 
    
    <!-- <security:http auto-config="true">
		<security:intercept-url pattern="/api/**" access="ROLE_ADMIN" />
	</security:http>
    
    <security:authentication-manager>
		<security:authentication-provider>
			<security:password-encoder ref="bcryptPasswordEncoder" />
			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="select USER_ID, PASSWORD, STATUS from users where USER_ID=?"
				authorities-by-username-query="select USER_ID, AUTHORITY from authorities where USER_ID=?  " />
		</security:authentication-provider>
	</security:authentication-manager> -->

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="sri" password="sri" authorities="ROLE_REST"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
 
</beans:beans>